/*


	The dimensions of the breakpoints we have chosen are:

	Phones: <= 600px,
	Tablets: <= 900px,
	Tablets(landscape): <= 1200px
	desktop(big): >= 1800px

	NOTE: Our responsive mixin will be passed two value types, namely; The breakpoint category and
	the responsive styles of the selector where the mixin is called[The styles are accessed via the @content sass directive].

*/
/*=====================================================================

		KOKAPIX COLOR NAMES:

		$color-primary: #D2B48C; // TAN
		$color-secondary:  #ff9c00; // ORANGE
		$color-tertiary: #F00; // RED
		$color-tertiary-alt-1: #999; // DARK GREY
		$color-tertiary-alt: #CCC; // LIGHT GREY
		$color-general: #000; // BLACK
		$color-general-alt: #FFF; // WHITE
	



======================================================================*/
/*========== THEMETIC COLOR VARIABLES [Start]==========================*/
/*============== GRADIENT BACKGROUNDS VARIABLES ========================*/
/*============== GRID VARIABLES [Start]========================*/
/*============== DIMENSIONAL VARIABLES [Start]========================*/
/*========== BORDER VARIABLES [Start]==========================*/
/*========== DISPLAY VARIABLES [Start]==========================*/
/*========== CURSOR VARIABLES [Start]==========================*/
/*========== GENERAL GUTTER VARIABLES [Start]==========================*/
/*========== OFFSETS VARIABLES [Start]==========================*/
/*========== POSITIONAL VARIABLES [Start]==========================*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveOutLeft {
  0% {
    opacity: 1;
    transform: translateX(-50%); }
  100% {
    opacity: 0;
    display: none; } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(2rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.2, 0.2); }
  40% {
    opacity: 0;
    transform: scale(0.5, 0.5); }
  60% {
    opacity: 0;
    transform: scale(0.7, 0.7); }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: .9; }
  100% {
    opacity: 1; } }

.sliderOut {
  animation-name: moveOutLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out; }

@keyframes shake-shake {
  0% {
    border-bottom: solid 2px #009999; }
  40% {
    border-bottom: solid 2px #cc3333; }
  60% {
    border-bottom: solid 2px #ffcc66; }
  80% {
    border-bottom: solid 2px #000; }
  90% {
    border-bottom: solid 2px #009999; }
  90% {
    border-bottom: solid 2px #FFF; } }

/*

	Colors:
	
	#096 = Dark Green
	#C90 = Gold
	#F00 = Red;
	#F7F7F7 = Light grey
	
*/
/* Below, Create a basic reset of the browser applied styles */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* ========================================================================================================

	The html element below will be used to set a root font-size for the project. This base font-size will
	be used as the base for all the measurements we are going to set on the page. This powerfull technique
	will make it easier for us to modify and mantain the code since we are only going to have a single place
	where we make a change and automatically any related code. To enable users the chance to modify our styles,
	we are going to use percentage values-a really recommended practice.
	
   =======================================================================================================*/
html {
  font-size: 62.5%; }

/* Below, Create a project wide font-definitions */
body {
  box-sizing: border-box; }









.grid-row {
  margin: 0 auto;
  max-width: 150rem;
  position: relative;
  width: 100%;
  content: "";
  display: table;
  clear: both; }
  .grid-row:not(:last-child) {
    margin-bottom: 0.2rem; }
  .grid-row > :not(:last-child) {
    margin-right: 1rem;
    padding-left: 1%; }
    @media only screen and (max-width: 900px) {
      .grid-row > :not(:last-child) {
        margin-right: 0 !important; } }
  .grid-row [class^="grid-col-"] {
    float: left; }
    @media only screen and (max-width: 900px) {
      .grid-row [class^="grid-col-"] {
        width: 100% !important; } }
  .grid-row .grid-col-12 {
    width: 100%; }
  .grid-row .grid-col-11 {
    width: calc(100% - (8.33333% * 1) - 1rem); }
  .grid-row .grid-col-10 {
    width: calc(100% - (8.33333%* 2) - 1rem); }
  .grid-row .grid-col-9 {
    width: calc(100% - (8.33333% * 3) - 1rem); }
  .grid-row .grid-col-8 {
    width: calc(100% - (8.33333% * 4) - 1rem); }
  .grid-row .grid-col-7 {
    width: calc(100% - (8.33333% * 5) - 1rem); }
  .grid-row .grid-col-6 {
    width: calc(100% - (8.33333% * 6) - 1rem); }
  .grid-row .grid-col-5 {
    width: calc(100% - (8.33333% * 7) - 1rem); }
  .grid-row .grid-col-4 {
    width: calc(100% - (8.33333% * 8) - 1rem); }
  .grid-row .grid-col-3 {
    width: calc(100% - (8.33333% * 9) - 1rem); }
  .grid-row .grid-col-2 {
    width: calc(100% - (8.33333% * 10) -  1rem); }
  .grid-row .grid-col-1 {
    width: calc(100% - (8.33333% * 11) - 1rem); }
  .grid-row .grid-offset-11 {
    left: 40%;
    position: relative; }

.accounts-u-header-content {
  padding-top: 2rem;
  background-color: #FFF; }
  .accounts-u-header-content--pos-fixed {
    position: fixed;
    z-index: 50; }
  .accounts-u-header-content--pos-fixed-alt {
    top: 0;
    position: fixed;
    z-index: 50; }

.accounts-u-header {
  position: relative; }
  .accounts-u-header .accounts-u-brand-fig {
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem; }
    .accounts-u-header .accounts-u-brand-fig-logo {
      width: 5rem;
      position: relative;
      left: 40%; }
  .accounts-u-header .accounts-u-data {
    padding-left: 15%; }
  .accounts-u-header .accounts-u-coalescence {
    position: relative; }
    .accounts-u-header .accounts-u-coalescence .accounts-u-submit {
      position: absolute;
      left: 2%; }

.header {
  width: 100%; }
  .header__dropdown {
    width: 100%;
    z-index: 1000; }
    .header__dropdown--list {
      padding-left: 10%;
      padding-bottom: 1.5rem;
      background-color: #FFF;
      width: 100%; }
      .header__dropdown--list-i {
        list-style: none;
        padding: none;
        margin-bottom: 1.3rem; }
        .header__dropdown--list-i-link {
          text-decoration: none;
          color: #000;
          font-size: 1.3rem; }
    .header__dropdown--list-abs {
      position: absolute;
      width: 30%;
      z-index: 1;
      padding-left: 2%;
      padding-top: 2rem; }
  .header--fxd-logged {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: #FFF; }
  .header__offset {
    margin-bottom: 10rem; }
  .header__nav {
    position: absolute;
    padding-top: 2.5rem;
    right: 5%;
    z-index: 100; }
    .header__nav--item {
      color: #FFF;
      font-size: 1.5rem;
      margin-right: 2.5rem;
      display: inline-block;
      list-style: none;
      padding: 0;
      margin-bottom: 1.2rem; }
      .header__nav--item-link {
        text-decoration: none;
        color: #000; }
    .header__nav--item-offset {
      position: relative;
      margin-right: 10%; }
  .header__avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin-right: 15%;
    position: absolute;
    left: 35%;
    top: 3vh; }
    .header__avatar--img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%; }

.menu-default {
  width: 20rem;
  height: 25rem;
  padding-top: 2rem; }

.menu-logged {
  width: 25rem;
  height: 15rem;
  padding-top: 2rem;
  position: fixed;
  z-index: 1000; }

.menu-custom {
  width: 20rem;
  height: 8rem;
  padding-top: 2rem; }

.bar {
  height: .1rem;
  display: block;
  background: #FFF;
  margin-bottom: 1rem; }

.bar-1 {
  width: 3.5rem; }

.bar-2 {
  width: 4rem; }

.bar-3 {
  width: 3.5rem; }

.mat-icon {
  display: inline-block;
  margin-top: .5rem;
  position: absolute;
  top: 2rem;
  right: 32%; }

.menu-text {
  font-size: 1.3rem; }

.menu-link {
  display: inline-block;
  margin-right: 1.5rem; }

.job-type {
  background-color: #FFF;
  position: absolute;
  top: 25%;
  height: 5rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1.2rem; }

.sign {
  font-size: 1.4rem; }

.navigation_checkbox {
  display: none; }

.navigation_checkbox:checked ~ .navigation_background {
  transform: scale(80); }

.navigation_checkbox:checked ~ .navigation_nav {
  opacity: 1;
  width: 50%; }

.navigation_checkbox:checked ~ .navigation_button > .navigation_bar::after {
  opacity: 0; }

.navigation_checkbox:checked ~ .navigation_button > .navigation_bar {
  top: 2rem;
  background-color: #000;
  transform: rotate(135deg); }

.navigation_checkbox:checked ~ .navigation_button > .navigation_bar::before {
  top: 0;
  transform: rotate(-90deg); }

.navigation_button {
  background-color: #FFF;
  border: solid 0.1rem #009999;
  border-radius: 50%;
  height: 4rem;
  position: absolute;
  transition: transform .4s;
  width: 4rem;
  z-index: 500; }
  .navigation_button:hover {
    cursor: pointer; }
  .navigation_button:hover > * {
    background-color: #009999; }

.navigation_button--tp-offset-small {
  left: 2.5rem;
  top: .5rem; }

.navigation_button--tp-offset-medium {
  left: 2.5rem;
  top: 15.5rem; }

.navigation_bar {
  display: block;
  background-color: #000;
  width: 2.3rem;
  height: .14rem;
  position: relative;
  top: 1.2rem;
  transition: transform .3s;
  left: .8rem; }
  .navigation_bar::before, .navigation_bar::after {
    background-color: #000;
    content: "";
    display: block;
    position: absolute;
    width: 2.3rem;
    height: .14rem; }
  .navigation_bar::before {
    top: .7rem; }
  .navigation_bar::after {
    top: 1.5rem; }

.navigation_background {
  background-color: #009999;
  background-image: linear-gradient(to right bottom, rgba(0, 153, 153, 0.7), rgba(204, 51, 51, 0.5));
  border: none;
  border-radius: 50%;
  height: 4rem;
  position: absolute;
  overflow-x: hidden;
  transition: all .4s;
  width: 4rem;
  z-index: 400; }

.navigation_background--tp-offset-small {
  left: 2.5rem;
  top: .5rem; }

.navigation_background--tp-offset-medium {
  left: 2.5rem;
  top: 15.5rem; }

.navigation_nav {
  left: 30%;
  opacity: 0;
  position: fixed;
  transform: translate(-40%, -50%);
  top: 50%;
  transition: opacity .3s;
  width: 0;
  z-index: 450; }

.navigation_list {
  left: 35%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative; }
  @media only screen and (max-width: 600px) {
    .navigation_list {
      left: 0; } }

.navigation_item {
  background-image: linear-gradient(105deg, #cc3333 0%, #cc3333 50%, #FFF 50%);
  background-size: 195%;
  font-size: 2rem;
  height: 5rem;
  margin: 0 auto;
  padding-top: 1rem;
  transition: all .4s;
  width: 50%;
  /*@include responsive(tablet-portrait){


					width: 60%;

			}

			@include responsive(phone){



					width: 100%;


			}*/ }


.main-content {
  position: relative; }

.accounts-dashboard {
  position: fixed;
  top: 15rem;
  padding-top: 3rem;
  background-color: rgba(0, 153, 153, 0.2);
  height: 100%;
  width: 25%; }

.accounts-content {
  position: relative;
  top: 15rem;
  left: 27%;
  height: 100%;
  width: 70%; }


/* KEYFRAMES */
@keyframes spin {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(359deg); } }

@keyframes spin3D {
  from {
    transform: rotate3d(0.5, 0.5, 0.5, 360deg); }
  to {
    transform: rotate3d(0deg); } }

@keyframes configure-clockwise {
  0% {
    transform: rotate(0); }
  25% {
    transform: rotate(90deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes configure-xclockwise {
  0% {
    transform: rotate(45deg); }
  25% {
    transform: rotate(-45deg); }
  50% {
    transform: rotate(-135deg); }
  75% {
    transform: rotate(-225deg); }
  100% {
    transform: rotate(-315deg); } }

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1); }
  to {
    opacity: .25;
    transform: scale(0.75); } }




.progressBar {
  top: '40vh';
  left: '40%';
  position: 'relative'; }

.tooltip-container {
  text-align: center; }

p {
  margin-top: 30px;
  margin-bottom: 30px; }

.tooltip {
  position: relative; }

.tooltip-trigger {
  display: inline-block;
  text-decoration: underline; }

.tooltip-bubble {
  min-width: 120px;
  width: 25rem;
  position: absolute;
  z-index: 10; }
  .tooltip-bubble::after {
    content: '';
    position: absolute; }

.tooltip-top {
  bottom: 100%;
  left: 50%;
  padding-bottom: 9px;
  transform: translateX(-50%); }
  .tooltip-top::after {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid rgba(255, 0, 0, 0.8);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }

.tooltip-bottom {
  top: 100%;
  left: 50%;
  padding-top: 9px;
  transform: translateX(-50%); }
  .tooltip-bottom::after {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid rgba(255, 0, 0, 0.8);
    top: 0;
    left: 50%;
    transform: translateX(-50%); }

.tooltip-left {
  top: 50%;
  right: 100%;
  padding-right: 9px;
  transform: translateY(-50%); }
  .tooltip-left::after {
    border-left: 9px solid rgba(255, 0, 0, 0.8);
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    top: 50%;
    right: 0;
    transform: translateY(-50%); }

.tooltip-right {
  top: 50%;
  left: 100%;
  padding-left: 9px;
  transform: translateY(-50%); }
  .tooltip-right::after {
    border-right: 9px solid rgba(255, 0, 0, 0.8);
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    top: 50%;
    left: 0;
    transform: translateY(-50%); }

.tooltip-message {
  background: rgba(255, 0, 0, 0.8);
  border-radius: 3px;
  letter-spacing: .15rem;
  color: #FFF;
  font-size: 1.3rem;
  padding: .75em;
  text-align: center; }

.error-page-content {
  background-color: rgba(0, 153, 153, 0.2);
  position: relative;
  top: 10rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
  padding-left: 2%; }

.d-inline-block{

  display: inline-block
}

.d-block{

  display: block;
}

.error-number {
  color: #FFF;
  display: inline-block;
  font-size: 8rem;
  font-weight: 700;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.description-text {
  width: 70%;
  padding-top: 2rem; }
  .description-text-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: rgba(0, 0, 0, 0.5); }
  .description-text-body p {
    font-size: 1.3rem;
    margin-bottom: 1.5rem; }

.error-code-text {
  font-size: 1.2rem;
  font-weight: 700;
  width: 100%;
  position: relative;
  text-align: center; }

.error-search-box {
  padding-left: 10%; }

.fig-1, .fig-2,
.fig-4 {
  margin-bottom: 5rem !important; }

.error-2 {
  margin-left: 30%; }

.error-3 {
  margin-left: 70%; }

.faqs {
  width: 100%;
  padding-bottom: 15rem;
  padding-top: 5rem; }
  .faqs__i {
    width: 60%;
    margin: 0 auto; }
    .faqs__i-title {
      width: 60%; }
    .faqs__i-text {
      width: 50%; }
  .faqs__contact {
    padding-left: 30%;
    margin-top: 10rem; }
    .faqs__contact--text {
      font-size: 2rem;
      margin-bottom: 4rem;
      color: rgba(0, 0, 0, 0.9); }
    .faqs__contact--btn {
      border: none;
      display: inline-block;
      padding: 1rem;
      background-color: #009999;
      font-size: 1.3rem;
      width: 15rem;
      color: #FFF;
      margin-left: 2%;
      cursor: pointer; }

.hearx__header {
  width: 100%;
  padding-top: 1.8rem;
  margin-bottom: 15rem;
  position: fixed;
  background-color: #FFF;
  height: 7rem;
  z-index: 1000; }
  @media only screen and (max-width: 450px) {
    .hearx__header {
      height: auto; } }
  .hearx__header--brand {
    width: 50%;
    float: left;
    padding-left: 5%; }
    .hearx__header--brand__logo {
      width: 14%;
      display: inline-block;
      margin-right: 3%;
      cursor: pointer; }
      @media only screen and (max-width: 450px) {
        .hearx__header--brand__logo {
          width: 30%;
          margin-right: 10%; } }
      @media only screen and (max-width: 900px) {
        .hearx__header--brand__logo {
          width: 20%; } }
    .hearx__header--brand__text {
      font-size: 1.4rem;
      color: rgba(0, 0, 0, 0.7);
      display: inline-block;
      position: relative;
      top: .5rem; }
      @media only screen and (max-width: 450px) {
        .hearx__header--brand__text {
          top: 0; } }
      .hearx__header--brand__text--title {
        display: block;
        margin-bottom: 1rem; }
        @media only screen and (max-width: 450px) {
          .hearx__header--brand__text--title {
            margin-bottom: .5rem; } }
      .hearx__header--brand__text--bar {
        height: .2rem;
        width: 2.5rem;
        display: block; }
        @media only screen and (max-width: 450px) {
          .hearx__header--brand__text--bar {
            height: .15rem;
            width: 1.9rem; } }
      .hearx__header--brand__text--bar-tp {
        background-color: #009999;
        margin-left: 1.5rem;
        margin-bottom: .5rem; }
      .hearx__header--brand__text--bar-bt {
        margin-left: 2.5rem;
        background-color: #cc3333; }
  .hearx__header--shop {
    width: 50%;
    position: relative;
    float: left; }
    .hearx__header--shop__list {
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      right: 15%; }
      .hearx__header--shop__list--item {
        display: inline-block;
        margin-right: 3.5rem;
        cursor: pointer;
        position: relative; }
        .hearx__header--shop__list--item-cart-count {
          background-color: #cc3333;
          margin-left: 1.2rem;
          height: 1.8rem;
          width: 1.5rem;
          text-align: center;
          font-size: 1.1rem;
          color: #FFF;
          position: relative;
          padding-top: .2rem;
          border-radius: .2rem;
          top: -.8rem; }

.hearx__hero {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.05);
  height: 50vh;
  top: 40vh;
  position: relative;
  margin-bottom: 15rem; }
  @media only screen and (max-width: 600px) {
    .hearx__hero {
      height: 40vh; } }
  @media only screen and (max-width: 450px) {
    .hearx__hero {
      height: 40vh; } }
  .hearx__hero--header {
    width: 40%;
    float: left; }
    @media only screen and (max-width: 450px) {
      .hearx__hero--header {
        width: 50%; } }
    @media only screen and (max-width: 450px) {
      .hearx__hero--header {
        width: 50%; } }
    .hearx__hero--header__message {
      background-color: #FFF;
      position: relative;
      width: 85%;
      padding: 5%;
      padding-left: 25%;
      left: 10%;
      top: 8rem; }
      @media only screen and (max-width: 900px) {
        .hearx__hero--header__message {
          left: 10%;
          padding: 1%;
          padding-left: 2%;
          text-align: center;
          top: 6rem; } }
      @media only screen and (max-width: 600px) {
        .hearx__hero--header__message {
          width: 95%;
          left: 3%;
          padding: 1%;
          padding-left: 5%;
          text-align: center;
          top: 4rem; } }
      @media only screen and (max-width: 450px) {
        .hearx__hero--header__message {
          width: 95%;
          left: 3%;
          padding: 1%;
          padding-left: 5%;
          text-align: center;
          top: 4rem; } }
      .hearx__hero--header__message--text-1 {
        display: block;
        font-size: 2rem; }
      .hearx__hero--header__message--text-2 {
        display: block;
        font-size: 1.5rem;
        margin-left: 2.5rem; }
        .hearx__hero--header__message--text-2-dot {
          color: #cc3333;
          font-size: 4rem; }
      .hearx__hero--header__message--text-3 {
        display: block;
        font-size: 1.5rem;
        margin-left: 2.5rem;
        margin-top: -2rem; }
        .hearx__hero--header__message--text-3-dot {
          color: #009999;
          font-size: 4rem; }
  .hearx__hero--content {
    width: 60%;
    float: left;
    position: relative; }
    @media only screen and (max-width: 600px) {
      .hearx__hero--content {
        width: 50%; } }
    @media only screen and (max-width: 450px) {
      .hearx__hero--content {
        width: 50%; } }
    .hearx__hero--content__arrived {
      position: relative;
      width: 100%; }
      .hearx__hero--content__arrived--fig img {
        width: 40%;
        left: 40%;
        display: block;
        position: relative;
        top: -3rem; }
        @media only screen and (max-width: 600px) {
          .hearx__hero--content__arrived--fig img {
            width: 60%;
            left: 30%; } }
        @media only screen and (max-width: 450px) {
          .hearx__hero--content__arrived--fig img {
            width: 60%;
            left: 30%; } }
    .hearx__hero--content__btn {
      width: 25rem;
      border: none;
      background-color: #ffcc66;
      height: 4rem;
      text-align: center;
      display: inline-block;
      position: relative;
      left: 28%;
      top: 7.5rem;
      cursor: pointer; }
      .hearx__hero--content__btn:hover {
        color: #009999; }
      @media only screen and (max-width: 600px) {
        .hearx__hero--content__btn {
          width: 18rem;
          left: 10%; } }
      @media only screen and (max-width: 450px) {
        .hearx__hero--content__btn {
          width: 15rem;
          left: 10%; } }

.hearx__products {
  width: 100%;
  margin-bottom: 5rem;
  top: 40vh;
  position: relative;
  padding-left: 5%; }
  @media only screen and (max-width: 1200px) {
    .hearx__products {
      margin-bottom: 3rem; } }
  .hearx__products--title {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    margin-bottom: 10rem; }
  .hearx__products--filter {
    position: relative;
    display: block;
    margin-bottom: 3rem; }
    .hearx__products--filter-title {
      font-size: 1.6rem;
      margin-bottom: 1.3rem; }
    .hearx__products--filter-i {
      padding-top: 2rem;
      padding-bottom: 2rem;
      width: 10rem;
      font-size: 1.3rem;
      text-align: center;
      cursor: pointer;
      display: inline-block;
      margin-right: 1.5rem;
      position: relative;
      background-color: rgba(128, 128, 128, 0.05); }
      .hearx__products--filter-i:hover {
        background-color: rgba(0, 153, 153, 0.2); }
      .hearx__products--filter-i-dropdown {
        width: 10rem;
        display: block;
        position: absolute;
        background-color: #ffcc66;
        z-index: 50;
        top: 8vh;
        padding-top: 1rem;
        height: 6rem; }
        .hearx__products--filter-i-dropdown ul {
          list-style-type: none;
          padding: 0; }
        .hearx__products--filter-i-dropdown-i {
          margin-bottom: 1rem; }
          .hearx__products--filter-i-dropdown-i:hover {
            color: #009999; }
  .hearx__products--card {
    width: 25%;
    margin-bottom: 5rem;
    height: 50rem;
    float: left; }
    @media only screen and (max-width: 900px) {
      .hearx__products--card {
        height: 30rem;
        width: 33%; } }
    @media only screen and (max-width: 1200px) {
      .hearx__products--card {
        height: 35rem;
        width: 33%; } }
    @media only screen and (max-width: 600px) {
      .hearx__products--card {
        width: 45%;
        margin-left: 4%;
        height: 30rem; } }
    .hearx__products--card__image {
      width: 80%;
      margin-bottom: 4rem; }
      .hearx__products--card__image img {
        width: 80%; }
    .hearx__products--card__product-name {
      font-size: 1.5rem;
      padding-left: 15%;
      margin-bottom: 1.3rem;
      text-align: justify; }
    .hearx__products--card__product-price {
      font-size: 1.5rem;
      color: rgba(0, 0, 0, 0.7);
      margin-bottom: 1.5rem;
      padding-left: 10%; }
    .hearx__products--card__product-add-cart {
      width: 15rem;
      border: none;
      background-color: #ffcc66;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      font-size: 1.3rem;
      text-align: center;
      display: inline-block;
      position: relative;
      cursor: pointer; }
      .hearx__products--card__product-add-cart:hover {
        color: #009999; }

.hearx__upcoming {
  width: 100%;
  top: 40vh;
  position: relative;
  margin-bottom: 15rem; }
  @media only screen and (max-width: 1200px) {
    .hearx__upcoming {
      margin-bottom: 10rem; } }
  .hearx__upcoming--title {
    width: 40%;
    margin-bottom: 10rem;
    padding-left: 5%; }
    .hearx__upcoming--title-year {
      background-color: rgba(128, 128, 128, 0.05);
      padding: 3rem;
      font-size: 1.6rem;
      width: 40%; }
      @media only screen and (max-width: 1200px) {
        .hearx__upcoming--title-year {
          width: 60%; } }
      @media only screen and (max-width: 900px) {
        .hearx__upcoming--title-year {
          width: 80%; } }
    .hearx__upcoming--title-count-left {
      background-color: #009999;
      padding: 2rem;
      margin-right: 1rem;
      color: #FFF; }
    .hearx__upcoming--title-container {
      position: relative;
      left: 25%;
      font-size: 1.4rem; }
      @media only screen and (max-width: 1200px) {
        .hearx__upcoming--title-container {
          left: 30%; } }
      @media only screen and (max-width: 900px) {
        .hearx__upcoming--title-container {
          left: 50%; } }
  .hearx__upcoming--upcategs {
    width: 70%;
    float: left;
    padding-left: 5%; }
    @media only screen and (max-width: 900px) {
      .hearx__upcoming--upcategs {
        float: none;
        width: 100%; } }
    .hearx__upcoming--upcategs__primary {
      position: relative;
      float: left;
      width: 34%; }
      .hearx__upcoming--upcategs__primary--i {
        margin-bottom: 1rem;
        position: relative; }
        .hearx__upcoming--upcategs__primary--i-img {
          width: 98%; }
        .hearx__upcoming--upcategs__primary--i--text-1 {
          display: block;
          font-size: 1.3rem;
          position: absolute;
          right: 40%;
          bottom: 1rem;
          color: #FFF;
          background-color: #cc3333;
          padding: .5rem 2rem; }
        .hearx__upcoming--upcategs__primary--i--text-2 {
          display: block;
          font-size: 1.3rem;
          position: absolute;
          right: 10%;
          bottom: 1rem;
          color: #cc3333;
          background-color: #FFF;
          padding: .5rem 2rem; }
    .hearx__upcoming--upcategs__secondary {
      width: 66%;
      float: left; }
      .hearx__upcoming--upcategs__secondary--i {
        position: relative; }
        .hearx__upcoming--upcategs__secondary--i img {
          width: 98.5%; }
        .hearx__upcoming--upcategs__secondary--i-text-1 {
          display: block;
          font-size: 1.3rem;
          position: absolute;
          right: 2%;
          bottom: 50%;
          color: #FFF;
          background-color: #cc3333;
          padding: .5rem 2rem; }
  .hearx__upcoming--content {
    width: 30%;
    padding-top: 10vh;
    padding-left: 4%;
    float: left;
    position: relative; }
    @media only screen and (max-width: 1200px) {
      .hearx__upcoming--content {
        padding-left: 1%; } }
    @media only screen and (max-width: 900px) {
      .hearx__upcoming--content {
        float: none;
        width: 50%;
        margin: 0 auto; } }
    .hearx__upcoming--content__title-1 {
      width: 80%;
      margin-bottom: 2rem;
      display: block;
      font-size: 1.4rem; }
    .hearx__upcoming--content__title-2 {
      margin-bottom: 4rem;
      margin-left: 10%;
      display: block;
      font-size: 1.3rem;
      color: rgba(0, 0, 0, 0.8); }
    .hearx__upcoming--content__form {
      width: 100%; }
      .hearx__upcoming--content__form--input-container {
        width: 90%; }
        .hearx__upcoming--content__form--input-container-input {
          border: solid 0.02rem #009999;
          margin-bottom: 4rem;
          border-radius: .5rem;
          display: inline-block;
          width: 70%;
          height: 4rem;
          text-align: center; }
        .hearx__upcoming--content__form--input-container-btn {
          width: 15rem;
          border: none;
          background-color: rgba(0, 153, 153, 0.2);
          margin-left: 2rem;
          padding-top: 1.5rem;
          padding-bottom: 1.5rem;
          font-size: 1.3rem;
          text-align: center;
          display: inline-block;
          position: relative;
          cursor: pointer; }
          .hearx__upcoming--content__form--input-container-btn:hover {
            color: #FFF;
            background-color: rgba(0, 153, 153, 0.9); }
      .hearx__upcoming--content__form--btn-container {
        width: 80%; }

.hearx__cart {
  width: 100%; }
  .hearx__cart--form-action-btn {
    display: inline-block;
    cursor: pointer;
    width: 5rem;
    background-color: rgba(0, 153, 153, 0.2);
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem; }
  .hearx__cart--form-input-container {
    display: inline-block;
    width: 5rem; }
    .hearx__cart--form-input-container-input {
      border: solid 0.01rem #009999;
      display: inline-block;
      width: 100%;
      height: 5.5rem;
      text-align: center; }

.hearx__footer {
  width: 100%;
  padding-top: 1.8rem;
  background-color: #243f46;
  max-height: 5rem;
  top: 40vh;
  position: relative;
  position: relative; }
  @media only screen and (max-width: 600px) {
    .hearx__footer {
      max-height: none; } }
  .hearx__footer--brand {
    width: 40%;
    float: left;
    padding-left: 5%; }
    @media only screen and (max-width: 600px) {
      .hearx__footer--brand {
        float: none;
        width: 80%;
        left: 15%;
        position: relative;
        margin-bottom: 4rem; } }
    .hearx__footer--brand__logo {
      width: 14%;
      display: inline-block;
      margin-right: 5%;
      cursor: pointer; }
    .hearx__footer--brand__text {
      font-size: 1.4rem;
      color: rgba(255, 255, 255, 0.7);
      display: inline-block;
      position: relative;
      top: -1vh; }
      @media only screen and (max-width: 1200px) {
        .hearx__footer--brand__text {
          top: 0; } }
      @media only screen and (max-width: 900px) {
        .hearx__footer--brand__text {
          top: 0; } }
  .hearx__footer--shop {
    width: 60%;
    position: relative;
    float: left; }
    @media only screen and (max-width: 600px) {
      .hearx__footer--shop {
        float: none;
        width: 100%; } }
    .hearx__footer--shop__social {
      width: 35%;
      float: left;
      position: relative;
      text-align: center; }
      @media only screen and (max-width: 600px) {
        .hearx__footer--shop__social {
          width: 50%; } }
      .hearx__footer--shop__social-i-container {
        background-color: #FFF;
        width: 100%;
        position: relative;
        height: 6rem;
        top: -4vh; }
        @media only screen and (max-width: 600px) {
          .hearx__footer--shop__social-i-container {
            height: 3rem;
            padding: .5rem;
            height: 4.5rem;
            position: relative;
            top: -3vh;
            padding-bottom: 2rem; } }
      .hearx__footer--shop__social-i {
        width: 33%;
        margin-right: 1%; }
        .hearx__footer--shop__social-i img {
          width: 4rem;
          height: 4rem; }
    .hearx__footer--shop__list {
      list-style: none;
      margin: 0;
      padding: 0;
      float: left;
      width: 60%;
      padding-left: 30%; }
      @media only screen and (max-width: 1200px) {
        .hearx__footer--shop__list {
          padding-left: 20%; } }
      @media only screen and (max-width: 900px) {
        .hearx__footer--shop__list {
          padding-left: 10%; } }
      @media only screen and (max-width: 600px) {
        .hearx__footer--shop__list {
          width: 50%;
          padding-left: 5%; } }
      .hearx__footer--shop__list--item {
        display: inline-block;
        margin-right: 2.5rem;
        cursor: pointer;
        position: relative;
        color: #FFF;
        font-size: 1.4rem; }

